<div class="page-header">
  <h3><strong><p class="text-danger">Like us "ehotdeals"<p></strong></h3>


<div class="fb-like" data-href="https://www.facebook.com/kieiehotdeal" data-width="The pixel width of the plugin" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">Like us on facebook</div>

</div>

<h2><strong><p class="text-primary">Our Mission</p></strong></h2>
<div class="row">
  <div class="col-xs-6 col-md-8"><h5>We are a team venture started out from a MBA Course named 'Startup Programming' taught by Professor Jeff Cohen. We make deals specializing in cellphones and computers. Our ultimate goal is to benefit every each customer over the globe by proving the hottest deal!!!</h5></div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
<div class="col-xs-6 col-md-8"><h2><strong><p class="text-primary">Our Team</p></strong></h2></div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-12"><h4>Meet our supertalented team!!</h4></div>
</div>

<div class="row">

  <div class="col-md-4"><h3><p class="text-primary">CEO</p></h3>
  <img src="https://www.kellogg.northwestern.edu/images/students/all/x412904.jpg" width="40%" height="50%" class="img-thumbnail"></div>
  <div class="col-md-4"><h3><p class="text-primary">CFO</p></h3>
  <img src="https://www.kellogg.northwestern.edu/images/students/all/x413165.jpg" width="40%" height="50%" class="img-thumbnail"></div>
  <div class="col-md-4"><h3><p class="text-primary">COO</p></h3>
  <img src="https://www.kellogg.northwestern.edu/images/students/all/x388722.jpg" width="40%" height="50%" class="img-thumbnail"></div>
</div>
<div class="row">

  <div class="col-md-4"><h4>Ruby Programmer & Investment banker</h4><p> Kellogg MBA</h4>
  </div>
  <div class="col-md-4"><h4>SW architect and M&A specialist</h4> <p> Kellogg MBA</h4>
  </div>
  <div class="col-md-4"><h4>Web Designer and Economist</h4> <p> Kellogg MBA</h4>
  </div>
</div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


